@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-family: 'Playfair Display', serif;
}

/* Colors and Styling*/
:root{
  --PrimaryColor:hsl(199,100%, 33%);
  --SecondaryColor:hsl(187,85%,43%);
  --gradientColor:linear-gradient(to right,hsl(199,100%,33%),hsl(187,85%,43%));
  --whiteColor: #fff;
  --whiteColorDeam:hsl(0,0%,93%);
  --blackColor:hsl(0,0,0%);
  --textColor:hsl(253, 96%, 20%);

}
*{
  text-decoration:none;
}
li{
  list-style:none
}
.section{
  padding: 4rem 0 2rem;
}
.container{
  padding-left: 1.3em;
  padding-right: 1.5em;
}

.icon{
  font-size: 2rem;
  cursor: pointer;
}
.flex{
  display:flex;
  align-items:center;
}
.grid{
  display:grid;
  align-items:center;
}
.btn{
  padding: 0rem 1.5rem;
  background: var(--textColor);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}
a{
  text-decoration: none;
}

.btn a{
  color: var(--whiteColor);
  font-weight: 500;
}
.btn:hover{
  background: var(--PrimaryColor);
}

img video{
  width:100%;
  height:auto;
}
input{
  font-size: 100%;
}
body{
  background: var(--bodyColor);
}
